{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "no-loop-func": 0,
    "no-underscore-dangle": 0,
    "prefer-template": 0,
    "strict": 0
  }
}
